# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

.vs/
.vscode/
build/
x64/
Debug/
Release/
third/
logs/
LightLog.1ac2c014/
lockfree_test_output.log
test_log.txt
LightLogWriteImpl_result.log
LockFreeLogWriteImpl_result.log
LightLogWriteImpl.vcxproj.user
LightLogWriteImpl/
.gitignore
assets/